body {
    background-color: black;
    color: wheat;
}

table {
    border-collapse: collapse;
    min-width: 900px;
}
th, td {
    border: 1px solid wheat;
    padding: 8px 12px;
    text-align: center;
}
.avg-total {
    padding-right: 40px;
    font-weight: 700;
    text-align: right;
}